<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <div class="row">
      <div class="col-sm-2">
        <img align="center" src="/assets/favicon.png" alt="logo" height="100" width="100">
      </div>
      <div class="col-sm-8">
        <h1 align="center">Corner 4 Students</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Here you can find a community that will help you with your university topics since you will be able to post a question on anything in mind, as well as you can buy, sell and exchange books</p>
        <a class="btn btn-primary btn-large" href=" <%= articles_url %>">Go to Forum</a></h2>
        <a class="btn btn-primary btn-large" href="<%= login_url %>">Go to Ads</a>
      </div>
    </div>

  </header>


	<p>Find out <%= link_to "About us", welcome_about_us_path %></p>
</div>