<div class="container">
  <h2 class="page-header">Account Activation</h2>
<h3><span class="glyphicon glyphicon-ok"></span> Your email has been verified.</h3>

<%= link_to "Click to log in", login_path %>

</div>